{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Hello {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'hello/styles/base.css' %}">
    {% block css_site %}{% endblock %}
</head>
<body>
    <header id="main-header">
         <nav><a href="/hello" id="main-logo">DjangoHello</a></nav>
         {% block main_heading %}{% endblock %}
    </header>
    <main>
        {% block body %}{% endblock %}
       
    </main>
</body> 
</html>